node_modules
dist
build
coverage
.vite
*.min.js
packages/*/dist
packages/*/build
packages/*/coverage
commitlint.config.js
scripts/*.js
packages/frontend/public/sw.js
packages/frontend/lighthouse.config.js
