node_modules
a.git
dist
build
coverage
test-results
uploads
temp-uploads
*.min.js

pnpm-lock.yaml

# Generated E2E scheduling state; these files are rewritten by the timing/rebalance job.
packages/e2e/groups/group-*.json
packages/e2e/groups/timings.json
